<p id="notice"><%= notice %></p>

<h1>Книги</h1>
    <%= form_tag(books_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search" %>
<% end %>
<h3>Выбрать категорию:<% @categories.each do |category| %>

    <%= link_to category.title, category_path(category)%>
<% end %></h3>

<div class="row">
  <div class="">

    <div class="row">
      <% @books.each do |book| %>

          <div class="col-sm-4 product-item">
            <div class="panel panel-default">
              <div class="panel-body" align="center">
                <%= book.title %>
                <div class="img"><%= link_to image_tag(book.image.large), book_path(book) %></div>
                <%= book.user.name %>

              </div>
            </div>
          </div>

      <% end %>
    </div>
  </div>
  <%= paginate @books %>
</div>
