<p id="notice"><%= notice %></p>

<h2><%= @book.title %></h2>
<%= image_tag @book.image %>
<%= @book.desc %>

<div id ="comment-section">
  <ol id="comments">
    <% @book.notices.each do |notice|%>
        <%= notice.body %>
        <%= notice.rating %>
        <br>
    <% end %>
  </ol>
  <p>
    <span>Средняя оценка: <%= Notice.where(:book => @book).average("rating") %></span>
  </p>

  <h4>Добавить комментарий:</h4>
  <%= form_for [@book, @book.notices.new] do |f| %>
      <%= f.text_field :body, placeholder: 'Add a notice...' %>
      <%= f.hidden_field :book_id, value: @book.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.select(:rating, options_for_select(1..5)) %>
  <% end %>
</div>
